@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:  'Times New Roman', Times, serif,'Lato', sans-serif;
  
}
.home{
  width: 1500px;
  height: 40vh;
  background: url('Premier-League-Pick-EPL-Logo-1280x720.jpg');
  background-size: cover;
}

.home,
.reports,
.products {
  display: flex;
  height: 130vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.span{
  position:absolute;
    top:90%;
    left:20%;
    right:53%;
	  transform:translate(-50%,-50%);
	  font-size:19px;
	  
	  color:#fff;
    font-family:Courier New;
    text-shadow:
          10px 15px 20px #f8f7f7,
          0px 0px 30px rgb(236, 46, 46);
	  
}
.tabledata{
  height: 80vh;
  padding: 2%;
  font-size: large;
}
.generatematch{
  /* background-color: rgb(116, 193, 245); */
  width: 1500px;
  height: 110vh;
  background: url('EPL_Logo.jpg');
  background-size: cover;
}
.headings{
  padding: 2%;
  font-size: 28px;
  
  
}

.datepicker{
  padding: 2%;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  background: rgb(73, 79, 82);
  color: white;
  width:100%;
  position:fixed;
  padding-top:auto;
  padding-left:10px ;
  padding-right: 30px;
  
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding-top:10px;
  
   
}

.nav-links li{
  transition-delay: 2ms;
  list-style: none;
  font-size: 30px;
  
}

.nav-links li:hover{
  font-weight: bold;
  transition-delay: 3ms;
  list-style: none;
  
}

  .matches{
   
  background-color:rgb(116, 141, 209);
   height: 100vh;
}
.teams{
  background-color:rgb(241, 197, 146);
   height: 100vh;
   
}


.matchdetails{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: -50px;
  padding: 5%;
}

.verses{
  font-size: 40px;
  color: aliceblue;
}

.matchCard-win{
  height: 300px;
  width: 300px;
  background: rgb(126, 196, 68);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 5%;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.matchCard-loose{
  height: 300px;
  width: 300px;
  background: rgb(77, 152, 187);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 5%;
  font-family:'Times New Roman', Times, serif;
}

.matchCard-draw{
  height: 300px;
  width: 300px;
  background: rgba(71, 69, 67, 0.747);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 5%;
  font-family:'Times New Roman', Times, serif;
}
