.App {
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
}


.nav {
  height:100vh;
  width:250px;
  background-color:#2F4050 ;
}
  
ul.navlist{
  height:100%;
  padding:0;
  width:100%;

}
.row{
  width:100%;
  height:70px;
  list-style-type:none;
  margin:0%;
  display: flex;
  flex-direction: row;
  color:white;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight:bolder;
  font-family:  'Trebuchet MS',Lucida Sans Regular,'Lucida Sans Unicode',Verdana,sans-serif,'Lucida Sans', 'Lucida Grande', , Geneva;
}
.navlist :hover{
  cursor: pointer;
  background-color:#293846;


}
.navlist #active{
  background-color: #06061d;
}
#icon{
  flex:0%;
  display: grid;
  place-items: center;
  padding-left: 10%;
  padding-right: 5%;
}
 #title{
  place-items: center;
  flex:80%;
  padding-right: 10%;
}

