@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  
}
.home{
  width: 100%;
  height: 500px;
  background: url('Premier-League-Pick-EPL-Logo-1280x720.jpg');
  background-size: cover;
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.tabledata{
  height: 80vh;
  padding: 2%;
  font-size: large;
}
.generatematch{
  background-color: rgb(47, 172, 255);
}
.headings{
  padding: 2%;
  font-size: 28px;
  
}

.datepicker{
  padding: 2%;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
   
}

.nav-links li{
  transition-delay: 2ms;
  list-style: none;
  font-size: 30px;
  
}

.nav-links li:hover{
  font-weight: bold;
  transition-delay: 3ms;
  list-style: none;
  
}

 .teams, .matches{
   
  background-color:rgb(77, 190, 194);
   height: 100vh;
}


.matchdetails{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: -50px;
  padding: 5%;
}

.verses{
  font-size: 40px;
}

.matchCard-win{
  height: 300px;
  width: 300px;
  background: rgb(11, 194, 50);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 5%;
}

.matchCard-loose{
  height: 300px;
  width: 300px;
  background: rgb(212, 157, 39);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 5%;
}

.matchCard-draw{
  height: 300px;
  width: 300px;
  background: rgba(71, 69, 67, 0.747);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 5%;
}
